<!-- export header file from the partials directory -->
<%- include("partials/header") %>

<div class="container-fluid info">
    <!-- header part -->
    <div class="info__header">
        <h1>
            CRUD Gallery
        </h1>
        <p class="lead">
            Where you got everything you need... 
        </p>
        <div class="createNew">
            <a href="/new" class="btn btn-primary">Create New Gallery</a>
        </div>
    </div>
    <!-- main part -->
    <div class="info__main">
        <% info.forEach(data => { %>

            <div class="info__main__gallery">
                <!-- title -->
                <h3>
                    <i class="icon-cog fas fa-space-shuttle fa-1x"></i>
                    <%= data.name %>
                </h3>
                <!-- image -->
                <img src=" <%= data.image %> ">
                <!-- button -->
                <div class="info__footer">
                    <a class="btn btn-success btn-outline-primary" href="/<%= data._id %> ">Details</a>
                </div>
            </div>

        <% }); %>
    </div>
    
</div>

<!-- export footer file from the partials directory -->
<%- include("partials/footer") %>