<!-- export header file from the partials directory -->
<%- include("partials/header") %>

<div class="container-fluid show">
    <h1>
        <%= data.name %>
    </h1>
    <img src=" <%= data.image %> ">
    <div>
        <%= data.description %>
    </div>
    <a class="btn btn-primary btn-outline-success" href="/<%=data._id%>/edit">Edit</a>
    <!-- delete button -->
    <form action="/<%=data._id%>?_method=DELETE" method="post">
        <button class="btn btn-primary">Delete</button>
    </form>
</div>

<div>
    <a href="/" class="btn btn-primary">Back to Home</a>
</div>

<!-- export footer file from the partials directory -->
<%- include("partials/footer") %>